@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), var(--font-nunito-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.prata-regular {
  font-family: var(--font-prata), serif;
  font-weight: 400;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito-sans), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
